Package: com.jakej.openother
Name: OpenOther
Pre-Depends: firmware (>= 8.0)
Depends: mobilesubstrate, applist
Architecture: iphoneos-arm
Description: Redirect app icons to launch different apps.
Maintainer: Jake Januzelli
Author: Jake Januzelli
Section: Tweaks
Version: 1.2-2
Installed-Size: 176
