Package: com.jakej.openother
Name: OpenOther
Depends: mobilesubstrate, applist
Architecture: iphoneos-arm
Description: Redirect app icons to launch different apps.
Maintainer: Jake Januzelli
Author: Jake Januzelli
Section: Tweaks
Version: 1.1-3
Installed-Size: 172
