Package: com.jakej.openother
Name: OpenOther
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Jake Januzelli
Author: Jake Januzelli
Section: Tweaks
