Package: com.jakej.openother
Name: OpenOther
Depends: mobilesubstrate, applist
Version: 1.1
Architecture: iphoneos-arm
Description: Redirect app icons to launch different apps.
Maintainer: Jake Januzelli
Author: Jake Januzelli
Section: Tweaks
